<mat-card class="mat-elevation-z3">
  <mat-card-header>

    <!--//<img mat-card-avatar src="../../../../assets/products-svgrepo-com.svg" />-->

    <mat-card-title>Add Visa Issue</mat-card-title>
    <mat-card-subtitle>Add new Visa Issue entry</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <form [formGroup]="visaIssueForm" class="form-container" (ngSubmit)="insert()">

      <mat-form-field appearance="fill" class="f-w">
        <mat-label>Visa Name</mat-label>
        <mat-select formControlName="visaId">
          <mat-option value="">None</mat-option>
          <mat-option *ngFor="let c of visa" [value]="c.visaId">
            {{c.visaNumber}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="visaIssueForm.controls['visaId'].hasError('required')"><strong>Visa Name</strong> required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="f-w mb-1">
        <mat-label>Title Name</mat-label>
        <input matInput formControlName="title">
        <mat-error *ngIf="visaIssueForm.controls['title'].hasError('required')">
          <strong>
            name
          </strong> required
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="f-w mb-1">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description">
        <mat-error *ngIf="visaIssueForm.controls['description'].hasError('required')">
          <strong>
            Description
          </strong> required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="f-w">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let is of IssueStatus" [value]="is.value">{{is.label}}</mat-option>
        </mat-select>
        <mat-error *ngIf="visaIssueForm.controls['status'].hasError('required')">
          <strong>Status</strong> is required
        </mat-error>

      </mat-form-field>

      <mat-form-field appearance="fill" class="f-w">
        <mat-label> Issue Date</mat-label>
        <input matInput formControlName="issueDate" [matDatepicker]="picker">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="visaIssueForm.controls['issueDate'].hasError('required')"><strong>IssueDate</strong> required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="f-w">
        <mat-label>Resolve Date</mat-label>
        <input matInput formControlName="resolveDate" [matDatepicker]="picker1">
        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-error *ngIf="visaIssueForm.controls['resolveDate'].hasError('required')"><strong>Resolve Date</strong> required</mat-error>
      </mat-form-field>


      <div class="f-w mb-1">
        <button type="submit" mat-raised-button color="primary" [disabled]="visaIssueForm.invalid">Save</button>
      </div>
    </form>


  </mat-card-content>
  <mat-card-actions>
    <a mat-flat-button [routerLink]="['/visaIssue']">Back to list</a>
  </mat-card-actions>
</mat-card>

